#border {
  background-color: white;
  height: 60vh;
  width: 100%;
}
textarea {
  height: 100%;
  width: 100%;
  border: 0px;
  resize: none;
  border-color: white;
}

#header {
  background-color: #141414;
  height: 15%;
  position: sticky;
  top: 0;
}

#icon {
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 80px;
}

#body {
  margin: 0 auto;
  margin-top: 50px;
}

body {
  margin: 0;
}

#content {
  max-width: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #202b33;
}

#result {
  margin-left: 15px;
  padding-top: 10px;
  color: white;
  font-family: "Rubik";
}

textarea {
  overflow: auto;
}

@media screen and (min-width: 601px) {
  .wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(65ch, 100%)
      1fr;
  }

  .wrapper > * {
    grid-column: 2;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }

  .wrapper > * {
    grid-column: 1;
  }
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

#footer {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.copylink {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #33bdea;
  cursor: pointer;
  font-family: "Rubik";
}

#text {
  padding: 15px 15px 15px 15px;
  font-family: "Inter", sans-serif;
  height: 100%;
}

.wrapper {
  height: 100%;
}
